.cursor {
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fafafa inset;
  cursor: pointer;
  height: 20px;
  position: relative;
  transform: translate(0, 0);
  width: 20px; }

.offset {
  transform: translate(-10px, -10px); }

.offset2 {
  transform: translate(0, -10px); }
