.KeyAssignUIStyle {
  position: absolute;
  background-repeat: no-repeat;
  width: 5%;
  height: 13.3%;
  float: left;
  margin-left: 0.3%;
  padding: 0;
  background-color: #0000;
  box-sizing: border-box;
  border-radius: 16%; }

input.KeyAssignUIStyle:focus {
  outline: none !important;
  border: 2px solid #0066F1;
  border-radius: 10px; }

.RGBColorBlockStyle {
  position: absolute;
  background-repeat: no-repeat;
  width: 5%;
  height: 13.3%;
  float: left;
  margin-left: 0.3%;
  padding: 0;
  background-color: #0000;
  box-sizing: border-box;
  border-radius: 16%;
  border: 2px solid #ff0; }

.RGBColorBlockP7 {
  position: absolute;
  background-repeat: no-repeat;
  width: 5%;
  height: 13.3%;
  float: left;
  margin-left: 0.3%;
  padding: 0;
  background-color: #0000;
  box-sizing: border-box;
  border-radius: 16%;
  border: 2px solid #ff0; }

.KBUICommon {
  position: absolute;
  left: 5.6%;
  top: 6%;
  height: 280px;
  width: 757px;
  /* border: 2px solid red; */
  box-sizing: border-box;
  transform: scale(1); }

.EventCanBoxSelectRange {
  position: absolute;
  left: 28%;
  top: 21%;
  height: 320px;
  width: 825px;
  background: rgba(255, 255, 255, 0); }
